<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

        <!-- To Buy List -->
        <div class="col-md-6" ng-controller="ToBuyController as buyList">
            <h2>To Buy:</h2>
            <p><input type="text" placeholder="Search" ng-model="searchFilter"></p>
            <ul>
                <li ng-repeat="item in buyList.items | filter : searchFilter">
                    Buy {{item.quantity}} {{item.name}}
                    <button class="btn btn-default" ng-click="buyList.removeItem($index);"> Buy</button>
                </li>
            </ul>
            <div ng-if="!buyList.items.length" class="emptyMessage">Error: {{buyList.errorMessage}}</div>
        </div>

        <!-- Already Bought List -->
        <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
            <h2>Already Bought:</h2>
            <p><input type="text" placeholder="Search" ng-model="searchFilter"></p>
            <ul>
                <li ng-repeat="item in boughtList.items | filter : searchFilter">
                    Buy {{item.quantity}} {{item.name}}
                    <button class="btn btn-default" disabled><span class="glyphicon glyphicon-ok"></span> Bought</button>
                    <button class="btn btn-default" ng-click="boughtList.removeItem($index);">Remove</button>
                </li>
            </ul>
            <div ng-if="!boughtList.items.length" class="emptyMessage">Error: {{boughtList.errorMessage}}</div>
        </div>
    </div>
</div>

</body>
</html>
