<h1 class="text-center">Sign Up for the Newslatter</h1>

<fieldset>
    <legend class="registration">Registration</legend>
    <form name="regForm" novalidate>
        <input type="text" name="firstname" placeholder="Your first name"
               ng-model="signCtrl.user.firstname"
               required
                ng-maxlength="20">
        <span ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
                    First name cannot be empty.
                </span>
        <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
                    First name must not be longer than 20 characters.
                </span>
        <br>
        <input type="text" name="lastname" placeholder="Your last name"
               ng-model="signCtrl.user.lastname"
               required
               ng-maxlength="20">
        <span ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
                    Last name cannot be empty.
        </span>
        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
                    Last name must not be longer than 20 characters.
        </span>
        <br>
        <input type="email" name="email" placeholder="Email"
               ng-model="signCtrl.user.email"
               required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format.
          </span>
        <br>
        <input type="text" name="phone" placeholder="Your Phone ###-###-####"
               ng-model="signCtrl.user.phone"
               pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
                    Phone must be in format ###-###-####.

        </span>
        <br>
        <input type="text" name="fav" placeholder="Menu Number of Your Favourite Dish"
               ng-model="signCtrl.user.fav"
                required>
        <span ng-if="regForm.fav.$error.required && regForm.fav.$touched">
                    Menu number of favourite dish cannot be empty.
        </span>
        <br>

        <button
                ng-disabled="regForm.$invalid"
                ng-click="signCtrl.submit()">Submit</button>

        <div style="margin-top: 10px;">
            Form valid? {{regForm.$valid}}
        </div>
    </form>
</fieldset>

<div id="info" ng-show="signCtrl.showErr">
    No such menu number exists.
</div>
<div id="info" ng-if="signCtrl.completed">
    Your information has been saved.
</div>
