body {
  font-size: 16px;
  color: #fff;
  background-color: #66afe9;
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #d4d4d4;
  border-radius: 0;
  border: 0;
}

.navbar {
  min-height: 80px;
}
.navbar-brand {
  margin-top: 12px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #66afe9;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #66afe9;
  text-align: center;
  border-top: 1px solid #66afe9;
}
#nav-list:nth-child(1) {
  border-bottom: 1px solid #66afe9;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #66afe9;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */

/* HOME PAGE */
#our-menu {
  font-size: 35px;
  padding-bottom: 25px;
  margin-top: -10px;
  color: #000000;
  font-weight: bold;
}

#chicken-tile, #beef-tile, #sushi-tile {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  overflow: hidden;
}

#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #000000;
}

#chicken-tile > span, #beef-tile > span, #sushi-tile > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: #000;
}

.back-to-top {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: #000000;
}

.text-content {
  padding: 40px 15px 30px 15px;
}

/* END HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 4px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
    font-size: 6vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  #chicken-tile, #beef-tile, #sushi-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #chicken-tile, #beef-tile, #sushi-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  /* End Home page */
}
